body {
  background-color: #ff6347;
  color: white;
}

.class {
  background-color: #1a8d57;
}

#divID {
  background-color: #14442e;
}

.car {
  border: 1px solid black;
  background-color: white;
  color: black;
}

.car2 {
  border: 1px solid white;
  background-color: aliceblue;
  color: black;
}
